.m-1 {
    margin: 1px;
}

.m-2 {
    margin: 2px;
}

.m-4 {
    margin: 4px;
}

.m-6 {
    margin: 6px;
}

.m-8 {
    margin: 8px;
}

.m-12 {
    margin: 12px;
}

.m-16 {
    margin: 16px;
}

.m-20 {
    margin: 20px;
}

.m-24 {
    margin: 24px;
}

.m-28 {
    margin: 28px;
}

.m-36 {
    margin: 36px;
}

.m-44 {
    margin: 44px;
}

.m-52 {
    margin: 52px;
}

.m-60 {
    margin: 60px;
}

.m-70 {
    margin: 70px;
}

.m-80 {
    margin: 80px;
}

.m-90 {
    margin: 90px;
}

.m-100 {
    margin: 100px;
}