.p-1 {
    padding: 1px;
}

.p-2 {
    padding: 2px;
}

.p-4 {
    padding: 4px;
}

.p-6 {
    padding: 6px;
}

.p-8 {
    padding: 8px;
}

.p-12 {
    padding: 12px;
}

.p-16 {
    padding: 16px;
}

.p-20 {
    padding: 20px;
}

.p-24 {
    padding: 24px;
}

.p-28 {
    padding: 28px;
}

.p-36 {
    padding: 36px;
}

.p-44 {
    padding: 44px;
}

.p-52 {
    padding: 52px;
}

.p-60 {
    padding: 60px;
}

.p-70 {
    padding: 70px;
}

.p-80 {
    padding: 80px;
}

.p-90 {
    padding: 90px;
}

.p-100 {
    padding: 100px;
}